.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inp {
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
    height: 25px;
    padding: 5px;
}

.btn {
    outline: none;
    border: none;
    background: lightblue;
    border-radius: 5px;
    width: 206px;
    height: 28px;
    cursor: pointer;
}