.container {
    width: 70vw;
    height: 80vh;
    background-color: lightgray;
    display: flex;
    border-radius: 10px;
}

.channels {
    border-radius: 10px;
    width: 15%;
    background-color: bisque;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.chats {
    margin-top: 50px;
    padding: 10px;
}